 body {
     padding: 0;
     margin: 0 auto;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

.container {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
}

.diceRow div {
    margin-bottom: 5px;
    margin-top: 5px;
}

.dice input {
    
}
/* - Table - */

table {
     border: 2px rgb(13, 1, 36) solid;
     border-collapse: collapse;
     animation-duration: 1s;
     animation-name: slidein;
 }

 tr:hover td {
     background-color: #ffb200;
     color: white;
 }

 tr:nth-child(8) td, tr:nth-child(9) td, tr:nth-child(19) td {
     font-weight: bold;
     background-color: #2e2e2e;
     color: white;
 }

 td:nth-child(even) {
     background-color: #dfe0ab;
 }

 td:nth-child(odd) {
     background-color: white;
 }

 th, td:nth-child(1) {
     padding-left: 10px;
     padding-right: 10px;
 }

 tr td, tr th {
     padding-top: 5px;
     padding-bottom: 5px;
     margin: 0px;
     border: black 1px solid;
 }

 table input {
     width: 60px;
     background-color: transparent;
     text-align: center;
     border-style: none;
     color: inherit;
 }

 th {
     color: #ffd64c;
     background-color: #171717;
 } 

 #tableScore{
    background-color: pink;
    border: none;
    border-collapse: collapse;
}


.navbar {
     background-color: black;
     /* margin: 0;
     overflow: hidden;
     display: flex;
     justify-content: center; */
 } 

 /* nav div {
     display: flex;
 }

 .navlinks {
     display: flex;
     align-items: center;
     flex-flow: row wrap;
     justify-content: space-around;
     text-align: center;
 } */


 /* .topnav-left {
     float: left;
 }

 .topnav-left a {
     color: #f2f2f2;
     text-decoration: none;
     font-size: 1.4em;
     text-transform: uppercase;
     padding-left: 20px;
     padding-right: 20px;
 }

 .topnav-right {
     float: right;
     padding: 15px 20px;
 } */

 /* a.active {
     color: #ffb200;
 } */

 /* .topnav-left a:hover {
     background-color: #ffd64c;
     color: black;
 } */



 /* .dices {
     padding: 10px;
     align-items: flex-start;
     display: flex;
     animation-duration: 1s;
     animation-name: slidein2;
 }

 @keyframes slidein {
     from {
         margin-top: 70%;
     }
 }

 @keyframes slidein2 {
     from {
         margin-left: 70%;
     }
 } */