/* table{
    border: 2px black solid;
} */

tr:nth-child(8) td,
tr:nth-child(9) td,
tr:nth-child(19) td
{
    font-weight: bold;
    background-color:aqua;
}

td:nth-child(even){
    background-color: red;
}

td:nth-child(odd){
    background-color:green;
}



td{
    padding: 0 0 0 0px;
    margin: 0;
}

input{
    width: 50px;
    background-color: inherit;
    text-align: center;
}

th{
    background-color: lightslategray;
    padding: 0 0 0 0px;
}

